<template>
  <div class="category">
    <div v-if="!edit">
      <span class="edit-btn" @click="edit = data.key">Edit</span>
      <h4>({{data.key}}) {{data.label}} [{{data.count}}]</h4>
      <p>{{data.comment}}</p>
    </div>
    <div v-if="edit">
      <select ref="categoryLabel" v-model="data.label">
        <option v-for="(category, index) in categoryLabels" v-bind:key="index" :value="category">{{category}}</option>
      </select>
      <textarea placeholder="Comment..." ref="categoryComment" :value=data.comment v-on:keyup="stopPropagation"></textarea>
      <button class="save-category" @click="changeCategory()">Save</button>
      <button class="save-category" @click="edit = null">Cancel</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'category',
  props: ['data'],
  data () {
    return {
      edit: null,
      categoryLabels: ['phrase_deletion', 'bins', 'qualifications']
    }
  },
  methods: {
    ...mapActions(['editCategory']),
    changeCategory () {
      const label = this.$refs.categoryLabel.value
      const comment = this.$refs.categoryComment.value
      const category = { label, comment, key: this.edit }
      this.editCategory(category)
      this.$refs.categoryLabel.value = ''
      this.$refs.categoryComment.value = ''
      this.edit = null
    },
    stopPropagation (e) {
      e.stopPropagation()
    }
  }
}
</script>

<style lang="sass">
  .category
    position: relative
    margin: 0 0 10px
    padding: 10px 10px 5px
    background: #53535E
    border-radius: 10px
    &:hover .edit-btn
      display: block
    h4
      margin: 0 0 5px
    p
      margin: 5px 0
      font-size: .9em
    select, textarea
      display: block
      margin: 0 0 10px
    select
      width: 100%
      font-size: .9em
      box-sizing: border-box
      outline: none
    textarea
      width: 100%
      height: 100px
      padding: 10px
      font-size: .9em
      resize: none
      border: none
      border-radius: 10px
      outline: none
      box-sizing: border-box
    .edit-btn
      display: none
      position: absolute
      top: 10px
      right: 10px
      padding: 3px 10px 2px
      font-size: .8em
      font-color: #fff
      cursor: pointer
      border: solid 1px #fff
      border-radius: 10px
    .edit-btn:hover
      background: rgba(255, 255, 255, 0.1)
</style>
