<template>
  <div class="filter">
    <div>
      <strong>Filter by clause index:</strong>
      <input type="number" ref="index" placeholder="index" v-on:input="filter" v-on:keyup="prevent" min=1 maxlength=4 />
    </div>
    <div class="clause" v-if="clause">
      {{clause.raw_text}}
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'ClauseFilter',
  props: ['next'],
  computed: {
    ...mapState({
      baseline: 'baseline',
      activeFilter: 'filter'
    }),
    clause: function () {
      if (!this.activeFilter) {
        return ''
      }
      return this.baseline.find(c => c.index === parseInt(this.activeFilter)) || ''
    }
  },
  methods: {
    filter (e) {
      const index = this.$refs.index.value
      this.$store.dispatch('filter', { index })
      Vue.nextTick(() => this.next())
    },
    prevent (e) {
      e.stopPropagation()
    }
  }
}
</script>

<style lang="sass" scoped>
  .filter
    margin: 0 0 10px
    padding: 10px
    background: #44444C
    border-radius: 10px
    box-sizing: border-box
  strong
    padding-right: 10px
    font-size: .9em
  input[type=number]
    width: 60px
    padding: 5px 10px
    border: none
    border-radius: 10px
    outline: none
  .clause
    margin: 10px 0 0
    padding: 10px
    font-size: .9em
    color: #ccc
    border: solid 3px #53535E
    border-radius: 10px
    box-sizing: border-box
</style>
