<template>
  <div class="dialog-wrapper">
    <div class="shade" v-on:click="hideDialog()"></div>
    <div class="dialog">
      <textarea ref="json"></textarea>
      <button v-on:click="setBaseline" v-if="!isBaseline">Import baseline</button>
      <button v-on:click="setVariations" v-if="isBaseline">Import variations</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'importDialog',
  props: ['hideDialog', 'isBaseline'],
  mounted () {
    this.$refs.json.focus()
  },
  methods: {
    setBaseline () {
      const textarea = this.$refs.json
      const json = textarea.value
      if (json.length) {
        this.$store.dispatch('setBaseline', JSON.parse(json))
        textarea.value = ''
        textarea.focus()
      }
    },
    setVariations () {
      const json = this.$refs.json.value
      if (json.length) {
        this.$store.dispatch('setVariations', JSON.parse(json))
      }
      this.hideDialog()
    }
  }
}
</script>

<style lang="sass" scoped>
.dialog-wrapper
  .shade
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.6)
  .dialog
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    padding: 20px
    width: 500px
    height: 400px
    background: #303036
    border-radius: 10px
    box-sizing: border-box
    textarea
      width: 100%
      height: 300px
      margin: 0 0 10px
      padding: 20px
      font-family: monospace
      font-size: .9em
      resize: none
      border-radius: 10px
      box-sizing: border-box
      outline: none
    button
      width: 100%
      margin: 0 0 10px
      padding: 10px 0
      font-size: 1.1em
      font-weight: bold
      color: #fff
      background: #2596F2
      border: none
      border-radius: 10px
      cursor: pointer
      outline: none
</style>