<template>
  <div class="progress">
    <div class="progress-bar">
      <span class="progress-label">{{label}}%</span>
      <span class="progress-done" v-bind:style="{ width: progress + '%' }"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Progress',
  props: ['progress'],
  computed: {
    label () {
      return Math.ceil(this.progress * 100) / 100
    }
  }
}
</script>

<style lang="sass" scoped>
.progress
  margin: 10px 0 0
  padding: 10px
  background: #44444C
  box-sizing: border-box
  border-radius: 10px
  .progress-bar
    position: relative
    background: #303036
    width: 100%
    height: 20px;
    border-radius: 10px
    .progress-done
      display: block
      background: #40C9A2
      height: 20px;
      border-radius: 10px
    .progress-label
      position: absolute
      width: 100%
      height: 20px
      top: 0
      left: 0
      color: #fff
      font-weight: bold
      font-size: .9em
      text-align: center
</style>