<template>
  <div class="variation-wrapper" v-bind:class="{ pending: !data.choice }" :data-id="data.id" :data-baseline-idx="data.baseline_clause_index">
    <div class="variation-content">
      <span class="variation-file" @click="copyPaste(data.filename)">{{data.filename}}</span>
      <span class="variation-clone-btn" @click="clone(data.id)" v-if="filter && !data.clone">Clone</span>
      <span class="variation-is-clone" v-if="data.clone" @click="removeClone(data.id)">Clone</span>
      <span class="variation-edit" @click="openEdit">Edit</span>
      <div class="variation" v-html="data.diff"></div>
    </div>
    <div class="choice">
      <span v-if="data.choice && choiceMap.length" v-on:click="removeTag(data.id)">
        ({{choiceMap[(data.choice - 1)].key}}) {{choiceMap[(data.choice - 1)].label}}
      </span>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'variation',
  props: ['data'],
  computed: {
    ...mapState(['filter', 'categories', 'path']),
    choiceMap: function () {
      if (this.filter === null || !this.categories.hasOwnProperty(this.filter)) {
        return []
      }
      return this.categories[this.filter]
    }
  },
  methods: {
    ...mapActions(['removeTag', 'clone', 'removeClone']),
    copyPaste (text) {
      const el = document.createElement('textarea')
      el.value = text
      document.body.appendChild(el)
      el.select()
      document.execCommand('copy')
      document.body.removeChild(el)
      const blobStr = `[InternetShortcut]\nURL=file://${this.path}/${text}.pdf`
      const blob = new Blob([blobStr], {
        type: 'application/internet-shortcut',
      });
      const link = document.createElement('a');
      link.href = window.URL.createObjectURL(blob);
      link.download = "myurl.url";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
    openEdit () {
      this.$emit('edit', this.data)
    }
  }
}
</script>

<style lang="sass">
  .variation-wrapper
    display: flex
    margin: 0 0 10px
    padding: 10px 10px 5px
    background: #53535E
    border-radius: 10px
    .variation-content
      flex: 4
      .variation-clone-btn
        margin: 0 0 0 10px
        padding: 2px 10px 1px
        font-size: .8em
        color: #ccc
        background: #44444C
        border-radius: 10px
        border: none
        cursor: pointer
      .variation-is-clone
        margin: 0 0 0 10px
        padding: 2px 10px 1px
        font-size: .8em
        color: #ffca28
        border-radius: 10px
        border: solid 1px #ffca28
        cursor: pointer
        &:hover
          text-decoration: line-through
      .variation-edit
        margin: 0 0 0 5px
        padding: 2px 10px 1px
        font-size: .8em
        color: #ccc
        background: #44444C
        border-radius: 10px
        border: none
        cursor: pointer

      .variation-file
        display: inline-block
        margin: 0 0 5px
        font-size: .8em
        color: #8a8a9a
        cursor: pointer
      .variation
        display: block
        .blue
          color: #63B9FF
        .red
          color: #FC4E5F
          text-decoration: line-through
        .grey
          color: #ccc
    .choice
      flex: 1
      padding: 5px 10px
      span
        width: 120px
        display: inline-block
        padding: 5px 10px
        font-size: .8em
        font-weight: bold
        background: #63B9FF
        border-radius: 10px
        cursor: pointer
      span:hover
        text-decoration: line-through
  .variation-wrapper.focus
    border: solid 1px #40C9A2
</style>
