<template>
  <div id="app">
    <div class="top">
      <h1>Pactly Analytics Tagger</h1>
      <div class="controls">
        <button v-on:click="toggleDiff()">Toggle diff</button>
        <button v-on:click="importDialog = true">Import</button>
        <button v-on:click="exportJson()">Export</button>
        <button v-on:click="pathDialog = true">Set path</button>
        <button v-on:click="clear()" v-if="baseline.length">Clear</button>
      </div>
    </div>
    <div class="container">
      <div class="left">
        <ClauseFilter :next=next />
        <div class="variations">
          <h2>Variations</h2>
          <Variation v-for="(variation, index) in activeVariations" v-bind:key="index" :data="variation" @edit="handleEdit"/>
        </div>
      </div>
      <div class="sidebar">
        <Progress :progress=progress v-if="!Number.isNaN(progress)" />
        <div class="categories" v-if="this.filter">
          <h2>Categories</h2>
          <Category v-for="category in activeCategories" v-bind:key="category.key + '_' + category.count" :data=category />
          <div class="new-category" v-if="categoryDialog">
            <select ref="categoryLabel">
              <option v-for="(category, index) in categoryLabels" v-bind:key="index" :value="category">{{category}}</option>
            </select>
            <textarea placeholder="Comment..." ref="categoryComment" v-on:keyup="stopPropagation"></textarea>
            <button class="save-category" @click="createCategory()">Save</button>
            <button class="save-category" @click="categoryDialog = false">Cancel</button>
          </div>
          <button class="add-category" v-if="this.filter && !categoryDialog" @click="categoryDialog = true">Add Category</button>
        </div>
      </div>
    </div>
    <ImportDialog
      v-if="importDialog"
      :hideDialog=hideDialog
      :isBaseline=!!baseline.length
    />
    <EditDialog
      v-if="editDialog"
      :variation="editVariation"
      :hideDialog="hideEditDialog"
      @save="handleVariationChange"
    ></EditDialog>
    <PathDialog
      v-if="pathDialog"
      :path="path"
      :hideDialog="hidePathDialog"
      @set="handleSetPath"
    ></PathDialog>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'
import ClauseFilter from '@/components/ClauseFilter'
import Variation from '@/components/Variation'
import Category from '@/components/Category'
import Progress from '@/components/Progress'
import ImportDialog from '@/components/ImportDialog'
import EditDialog from '@/components/EditDialog'
import PathDialog from '@/components/PathDialog'

export default {
  name: 'App',
  components: {
    ClauseFilter,
    Variation,
    Category,
    Progress,
    ImportDialog,
    EditDialog,
    PathDialog
  },
  created () {
    this.bootstrap()
  },
  mounted () {
    this.next()
    window.addEventListener('keyup', event => {
      if (!this.active) {
        return
      }
      const { code } = event
      if (code === 'Space') {
        this.active.scrollIntoView()
      } else {
        const id = parseInt(this.active.getAttribute('data-id'))
        const match = event.code.match(/Digit(\d+)/)
        if (!match) {
          return
        }
        const choice = match[1]
        if (this.choiceMap.includes(parseInt(choice))) {
          this.tag({ id, choice })
          Vue.nextTick(() => this.next())
        }
      }
    })
  },
  updated () {
    this.next(false)
  },
  data () {
    return {
      categoryLabels: ['phrase_deletion', 'bins', 'qualifications', 'ignore', 'inconsequential'],
      importDialog: false,
      categoryDialog: false,
      editDialog: false,
      editVariation: null,
      pathDialog: false
    }
  },
  computed: {
    ...mapState({
      baseline: 'baseline',
      variations: 'variations',
      filter: 'filter',
      categories: 'categories',
      path: 'path'
    }),
    choiceMap: function () {
      if (this.filter === null || !this.categories.hasOwnProperty(this.filter)) {
        return []
      }
      return this.categories[this.filter].map(c => parseInt(c.key))
    },
    activeVariations: function () {
      if (this.filter === null) {
        return this.variations
      }
      return this.variations.filter(variation => {
        return variation.baseline_clause_index === parseInt(this.filter)
      }).sort((a, b) => b.similarity - a.similarity)
    },
    choiceCounts: function () {
      return this.activeVariations
        .map(v => v.choice)
        .reduce((counts, choice) => {
          if (counts[choice]) {
            counts[choice] += 1
          } else {
            counts[choice] = 1
          }
          return counts
        }, [])
    },
    activeCategories: function () {
      if (this.filter === null || !this.categories.hasOwnProperty(this.filter)) {
        return []
      }
      return this.categories[this.filter].map(cat => {
        cat.count = this.choiceCounts[cat.key] || 0
        return cat
      })
    },
    progress: function () {
      const done = this.activeVariations.filter(v => !!v.choice).length
      const total = this.activeVariations.length
      return (done / total) * 100
    }
  },
  methods: {
    ...mapActions(['setVariations', 'bootstrap', 'tag', 'clear', 'addCategory', 'changeVariationText', 'changePath', 'toggleDiffField']),
    next (scroll = true) {
      const active = document.querySelector('.focus')
      if (active) {
        active.classList.remove('focus')
      }
      const next = document.querySelector('.pending')
      if (next) {
        next.classList.add('focus')
        scroll && next.scrollIntoView()
        this.active = next
      } else {
        this.active = null
      }
    },
    hideDialog () {
      this.importDialog = false
    },
    hideEditDialog () {
      this.editDialog = false
    },
    hidePathDialog () {
      this.pathDialog = false
    },
    createCategory () {
      const label = this.$refs.categoryLabel.value
      const comment = this.$refs.categoryComment.value
      const category = { label, comment }
      this.addCategory(category)
      this.$refs.categoryLabel.value = ''
      this.$refs.categoryComment.value = ''
      this.categoryDialog = false
    },
    stopPropagation (e) {
      e.stopPropagation()
    },
    handleEdit (variation) {
      this.editDialog = true;
      this.editVariation = variation;
    },
    handleVariationChange (id, text) {
      this.changeVariationText({ id, text });
      this.setVariations(this.variations);
      this.hideEditDialog();
    },
    handleSetPath (path) {
      this.changePath(path);
      this.hidePathDialog();
    },
    toggleDiff() {
      this.toggleDiffField();
      this.setVariations(this.variations);
    },
    async exportJson () {
      // generate json output format
      const clauseIds = Object.keys(this.categories).map(idx => parseInt(idx))
      const clauses = this.baseline.filter(clause => clauseIds.includes(clause.index))

      const json = clauses.map(clause => {
        const { index: clause_index, raw_text, clause_ref } = clause
        const clauseVariations = this.variations.filter(v => {
          return (v.baseline_clause_index === clause.index) &&
            (v.hasOwnProperty('choice') && v.choice !== null)
        })
        if (!clauseVariations.length) {
          return null
        }

        const variations = clauseVariations.reduce((arr, item) => {
          const categoryIdx = item.choice - 1
          const { label, comment } = this.categories[item.baseline_clause_index][categoryIdx]
          if (!arr[categoryIdx]) {
            arr[categoryIdx] = {
              type: label,
              count: 1,
              varied_docs: [item.filename],
              qualified_clauses: [item.clause_found],
              comment
            }
          } else {
            arr[categoryIdx].count += 1
            arr[categoryIdx].varied_docs.push(item.filename)
            arr[categoryIdx].qualified_clauses.push(item.clause_found)
          }
          return arr
        }, [])
        return Object.assign({}, { clause_index, raw_text, clause_ref }, { variations })
      }).filter(clause => clause !== null)

      // trigger download
      const data = JSON.stringify(json)
      const jsonData = new Blob([data], { type: 'text/plain' })
      const dataUrl = URL.createObjectURL(jsonData)
      const element = document.createElement('a')
      element.setAttribute('href', dataUrl)
      element.setAttribute('download', 'variations.json')
      element.style.display = 'none'
      document.body.appendChild(element)
      element.click()
      document.body.removeChild(element)
    }
  }
}
</script>

<style lang="sass">
  html, body
    margin: 0
    padding: 0
    background: #303036
    color: #fff
    height: 100%
  html, body, input, button
    font-family: 'Nunito', sans-serif
  #app
    width: 100%
    height: 100%
    background: #303036
  .top
    width: 100%
    margin: 0 0 5px
    background: #2596F2
    box-shadow: 0 1px 5px #000
    h1
      display: inline-block
      margin: 0
      padding: 10px
      color: #fff
      font-size: 1.1em
    .controls
      float: right
      button
        margin: 8px 10px 0 0
        padding: 4px 20px
        font-size: .9em
        font-weight: bold
        color: #fff
        background: none
        border: solid 1px #fff
        border-radius: 4px
        cursor: pointer
        outline: none
        transition: background-color 0.2s
      button:hover
        background-color: rgba(255, 255, 255, 0.1)
  .container
    display: flex
    width: 960px
    height: calc(100% - 49px)
    margin: 0 auto
    box-sizing: border-box
  h2
    margin: 0 0 10px

  .left
    flex: 2
    padding: 10px
    width: 600px
    height: 100%
    box-sizing: border-box
    .variations
      height: calc(100% - 55px)
      padding: 10px
      background: #44444C
      border-radius: 10px
      box-sizing: border-box
      overflow-y: scroll
  .sidebar
    flex: 1
    .categories
      margin: 10px 0 0
      padding: 10px
      background: #44444C
      box-sizing: border-box
      border-radius: 10px
      .new-category
        margin: 0 0 10px
        padding: 10px
        background: #53535E
        border-radius: 10px
        box-sizing: border-box
        select, textarea
          display: block
          margin: 0 0 10px
        select
          width: 100%
          font-size: .9em
          box-sizing: border-box
          outline: none
        textarea
          width: 100%
          height: 100px
          padding: 10px
          font-size: .9em
          resize: none
          border: none
          border-radius: 10px
          outline: none
          box-sizing: border-box
      .add-category
        padding: 4px 20px
        font-size: .9em
        font-weight: bold
        color: #fff
        background: none
        border: solid 1px #fff
        border-radius: 4px
        cursor: pointer
        outline: none
        transition: background-color 0.2s
      .add-category:hover
        background-color: rgba(255, 255, 255, 0.1)
      .save-category
        margin: 0 4px 0 0
        padding: 4px 20px
        font-size: .9em
        font-weight: bold
        color: #fff
        background: #2596F2
        border: none
        border-radius: 4px
        cursor: pointer
        outline: none
</style>
